{% extends 'index.html' %}
{% block headerExtra %}
	<a class="sprite notext off pull-right action-elem click-trigger" href="/" data-val="true" data-subaction="exit" data-signal="remote:exit">Pois</a>
	<div id="status">
		<span class="status ready">OK</span>
		<span class="status wait">ODOTA</span>
		<span class="status disconnected">X</span>
		<span class="status error">X</span>
	</div>
{% endblock %}
{% block body %}
	<div id="bat-surface" class="drag-trigger" data-subaction="drag">
		<p>Raahaa mailaa ylös ja alas</p>
		<div id="bat"></div>
		<span class="flag finland" style="margin: 15px;"></span>
	</div>
	<!-- build:script pacman_remote -->
	{% for path in include.remote.js %}
	<script type="text/javascript" src="/{{ path }}"></script>
	{% endfor %}
	<!-- /build -->
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
{% endblock %}