/* http://meyerweb.com/eric/tools/css/reset/
		   v2.0 | 20110126
		   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: Arial, sans-serif;
	font-size: 1em/1.5;
	color: #000;
	background-color: #fff;
	font-size: 13px;
	padding: 0;
	margin: 0;
	height: 100%;
}

input {
	vertical-align: middle;
	display: inline-block;
	font-size: 15px;
	vertical-align: middle;
	border: 1px solid #888;
	padding: 3px;
}
	button,
	input[type='button'],
	input[type='submit'] {
		color: white;
		background-color: #aaa;
	}

strong {
	font-weight: bold;
}

a {
	color: blue;
	font-weight: bold;
}

p {
	margin: 10px 0 7px;
}

h1 {
	text-align: center;
	margin: 10px;
	font-size: 17px;
}

h2 {
	font-weight: bold;
	font-size: 1.2em;
	margin: 8px 0 3px;
}
h3 {
	font-weight: bold;
	font-size: 1.1em;
	margin: 8px 0 3px;
}

.hidden {
    display: none;
}

.nonselectable {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}