html {
    height: 100%;
}
body {
    font-family: Helvetica, Verdana, Sans-Serif;
    font-size: 1em/1.5;
    color: #000;
    background: #ffffff;
    color: white;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
h1 {
    margin: 10px;
    color: #000;
    text-align: center;
}

#notify {
    color: #000;
    font-size: 2em;
    position: absolute;
    left: 50%;
    overflow: hidden;
}

#pongCanvas {
    -webkit-transform: rotateZ(90deg) translate(-50px, 0);
    transform: rotateZ(90deg) translate(-50px, 0);
}
#canvas-wrapper {
    background: white url(/presentations/pacman/screen/images/hockeyPongRink4.jpg) no-repeat center;
    background-size: 480px;
    width: 540px;
    height: 320px;
    margin: auto;
    text-align: center;
}
#countries {
    width: 540px;
    margin: auto;
}
.flag {
    display: inline-block;
    width: 50px;
    height: 32px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.flag.finland {
    background-image: url(/presentations/pacman/screen/images/finland.jpg);
}
.flag.sweden {
    background-image: url(/presentations/pacman/screen/images/sweden.jpg);
}

#main {
    overflow: hidden;
    outline: 1px solid white;
    position: relative;
    background: #ffffff;
    width: 1920px;
    height: 1080px;
    margin: auto;
}

#main > .row > div {
    height: 360px;
    padding: 0;
    text-align: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.qr-code {
    color: #000;
}

#qr-remote {
    color: #000;
    padding: 0;
    text-align: center;
    width: 550px;
    margin: 20px auto 0;
}
#qr-remote h2 {
    color: #000;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
}
#qr-remote .row > div {
    height: 100%;
    padding: 0 30px;
}
#qr-remote .row > div > div {
    padding-top: 10px;
    background-color: white;
    min-height: 240px;
}
.qr-code-wrapper {

}
.qr-code-inuse {

}
.qr-code > div {
    margin: 10px auto;
}
.qr-code-inuse {
    font-size: 25px;
}
#qr-remote .qr-code-inuse .content-box {
    font-size: 30px;
    padding: 45px 40px 0;
}
.qr-code-img {
    width: 180px;
    height: 180px;
    margin: auto;
}
.qr-code-img img {
    width: 100%;
    height: 100%;
}
.qr-code-desc {
    font-size: 27px;
}
.qr-code-url {
    font-size: 26px;
    margin-top: 10px;
}
.qr-code-token {
    font-size: 70px;
    line-height: 100px;
}
.qr-code-token-desc {
    font-size: 27px;
}

#video-box {
    -webkit-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
    padding: 0;
    margin: 0 auto;
    height: 360px;
    background: #315c85 no-repeat center;
    text-align: center;
}
#video-box.fullscreen {
    height: 1080px;
}

#videoPlayer {
    -webkit-transition:	opacity .3s ease-in-out;
    transition:			opacity .3s ease-in-out;
    height: 100%;
    opacity: 1.0;
}

#videoPlayer.swapping {
    opacity: 0;
}

#bottom-tab-wrapper {
    -webkit-transition: height .4s ease-in-out;
    transition: height .4s ease-in-out;
    background: transparent url(../images/phone-tab.png) no-repeat bottom center;
    margin: auto;
    width: 360px;
    height: 20px;
}
#bottom-tab {
    height: 100%;
    overflow: hidden;
}
#bottom-tab > div {
    display: inline-block;
}

#bottom-tab-wrapper.open {
    height: 360px;
}
.blue-shade-bg {
    background: transparent url(../images/blue-shade-bg.png) repeat-x;
}

.shadow {
    -webkit-box-shadow: 0px 30px 150px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 30px 150px 0px rgba(0, 0, 0, 0.3);
}

.rounded-box {
    -webkit-border-radius:	20px;
    border-radius:			20px;
}

.rounded-box-small {
    -webkit-border-radius:  5px;
    border-radius:          5px;
}

.padded-box {
    padding: 10px;
    min-height: 340px;
}
